/* Сброс стандартных стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Общий фон приложения */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f7fa; /* Общий фон */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Общие стили текста */
h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: Arial, sans-serif;
  color: #4a4a4a;
}

